<div class="row">
  <div class="col s3"></div>
  <form class="col s6">
    <div class="row">
      <div class="input-field col s12">
        <input id="room_no" type="text" class="validate" required>
        <label for="room_no">Room No.</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="guest_name" type="text" class="validate" required>
        <label for="guest_name">Guest name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="request" type="text" class="validate" required>
        <label for="request">Request</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="department" type="text" class="validate" required>
        <label for="department">Department</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" required></textarea>
        <label for="description">Description</label>
      </div>
    </div>
    <div class="input-field pull-right mr">
      <button type="button" class="waves-effect waves-light btn btn-default grey-text">Discard</button>
      <button type="submit" class="waves-effect waves-light green btn">Submit</button>
    </div>
  </form>
  <div class="col s3"></div>
</div>
