<table>
  <thead>
    <tr>
      <th data-field="no">Room No.</th>
      <th data-field="name">Guest name</th>
      <th data-field="request">Request</th>
      <th data-field="department">Department</th>
      <th data-field="description">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <td>{{request.roomNo}}</td>
      <td>{{request.guestName}}</td>
      <td><span class="request-type">{{request.requestType}}</span> at {{request.requestTime}}</td>
      <td>{{request.department}}</td>
      <td>{{request.description}}</td>
    </tr>
  </tbody>
</table>
