<nav class="non-material">
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/request']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">REQUEST</a>
  <a [routerLink]="['/discount']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">DISCOUNT</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
</nav>
