.non-material{
  background: #fbffff;
  height: inherit;
  width: inherit;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
}

:host {
  border-color: #e1e1e1 !important;
  border-style: solid !important;
  border-width: 0 0 1px !important;
  display: block !important;
  height: 48px !important;
  padding: 0 16px !important;
}

nav a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: #106cc8;
}
